@import '../../styles/variables';

.no-photo {
  height: 150px;
  width: 150px;
  background: $grey;
  margin: 1em 0;
  color: white;
  border-radius: 50%;
}

.profile-pic {
  max-width: 150px;
  max-height: 150px;
  margin: 1em 0;
}

.name {
  font-size: 1.4em;
  font-weight: 200;
}

.quote {
  margin-bottom: 2em;
}

.bio {
  margin-bottom: 2em;
  font-weight: 200;
}
