@import '../../styles/variables';

.nav-item, span {
  color: #ffffff;
}

ul {
  li {
    a {
      color: $light-grey;
      margin-left: 3em;
      cursor: pointer;


      &.active {
        border-bottom: 3px solid $gold;
      }
    }
  }
}
