@import "../../../../styles/variables";

.new-message-wrapper {
  margin-top: auto ;
  .input-group {
    align-self: flex-end;

    .form-control {
      border-radius: 0;
      border: 0;
      background-color: $light-grey;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
